.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  background-color: #b9d3df;
  font-family: "Josefin Sans", sans-serif;

  &__dark-mode {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    background-color: #2a2c2c;
    color: #5598a2;
  }

  &-acess {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    &__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      &-anchor {
        position: relative;
        font-size: 1rem;
        color: #48909b;
        text-decoration: none;
        margin-right: 10px;
  
        &:hover {
          font-weight: bold;
  
          &::after {
            width: 100%;
          }
        }
  
        &::after {
          position: absolute;
          content: "";
          width: 0;
          height: 2px;
          left: 50%;
          bottom: -2px;
          background-color: #48909b;
          transform: translateX(-50%);
          transition: all ease 0.4s;
        }
      }
    }
  }

  &-media {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      &-anchor {
        position: relative;
        font-size: 1rem;
        color: #48909b;
        text-decoration: none;
        margin-right: 10px;
  
        &:hover {
          font-weight: bold;
  
          &::after {
            width: 100%;
          }
        }
  
        &::after {
          position: absolute;
          content: "";
          width: 0;
          height: 2px;
          left: 50%;
          bottom: -2px;
          background-color: #48909b;
          transform: translateX(-50%);
          transition: all ease 0.4s;
        }
      }
    }
  }
}