.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;

  &__dark-mode {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    background-color: #2a2c2c;
    color: #5598a2;
  }
}